absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
audioread
av
babel
beautifulsoup4
bleach
brotlicffi
certifi
cffi
chardet
charset-normalizer
click
cmake
colorama
coloredlogs
comm
contourpy
cycler
DataProperty
datasets
debugpy
decorator
deepspeed
defusedxml
dill
docker-pycreds
docstring_parser
einops
evaluate
executing
fastapi
fastjsonschema
ffmpy
filelock
fire
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gitdb
GitPython
gmpy2
gradio
gradio_client
groovy
h11
hf-xet
hf_transfer
hjson
httpcore
httpx
huggingface-hub
humanfriendly
idna
importlib_resources
iniconfig
ipykernel
ipython
ipython_pygments_lexers
isoduration
jedi
jieba
Jinja2
joblib
json5
jsonargparse
jsonlines
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
lazy_loader
librosa
lit
llvmlite
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mbstrdecoder
mdurl
mistune
mkl-service
mkl_fft
mkl_random
modelscope
more-itertools
mpmath
msgpack
multidict
multiprocess
nbclient
nbconvert
nbformat
nest-asyncio
netron
networkx
ninja
nltk
notebook
notebook_shim
numba
numexpr
numpy
omegaconf
onnx
onnxruntime
optimum
orjson
overrides
packaging
pandas
pandocfilters
parso
pathtools
pathvalidate
peft
pexpect
pillow
platformdirs
pluggy
pooch
portalocker
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pybind11
pycparser
pydantic
pydantic_core
pydub
Pygments
pyparsing
PySocks
pytablewriter
pytest
python-dateutil
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
referencing
regex
requests
responses
rfc3339-validator
rfc3986-validator
rich
rouge-chinese
rouge_score
rpds-py
ruff
sacrebleu
safehttpx
safetensors
scikit-learn
scipy
semantic-version
Send2Trash
sentencepiece
sentry-sdk
setproctitle
shellingham
shtab
six
smmap
sniffio
soundfile
soupsieve
soxr
sqlitedict
sse-starlette
stack-data
starlette
sympy
tabledata
tabulate
tcolorpy
termcolor
terminado
threadpoolctl
tiktoken
timm
tinycss2
tokenizers
tomlkit
tornado
tqdm
tqdm-multiprocess
traitlets
transformers
triton
trl
typepy
typer
types-python-dateutil
typeshed_client
typing_extensions
tyro
tzdata
uri-template
urllib3
uvicorn
wandb
wcwidth
webcolors
webencodings
websocket-client
websockets
word2number
xxhash
yarl
zstandard
zstd